.layout-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer"
    "body";
  grid-gap: 10px;
  background-color: grey;
  padding-bottom: 1px;
}

.layout-container * {
}

header {
  grid-area: header;
  border: 1px solid black;
  padding-bottom: 10px;
  background-color: black;
}
main {
  grid-area: main;
  padding-top: 70px;
}
footer {
  grid-area: footer;
}
body {
  grid-area: body;
  border: 2px solid black;
  padding-left: 0;
  padding-top: 0;
}
img {
  width: 250px;
  padding: 5px;
  border: 1px solid black;
}
.persistent-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  z-index: 100;
}
nav {
  background-color: teal;
  padding: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}
li {
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: gold;
  background-color: teal;
  border: 1px solid black;
  padding: 2px;
}
.name {
  color: teal;
  background-color: black;
}
